<div class="row">
    <div class="col-6">
        <label for="booked_by">Booked By</label>
        <select data-style="bg-white shadow-sm" data-live-search="true" class="form-control selectpicker" name="booked_by" id="booked_by">
            <option value="0">- Search -</option>
            {{#each results}}
                <option value="{{book_id}}">{{booked_by}}</option>
            {{/each}}
        </select><!-- End -->
    </div>
    <div class="col-3">
        <button onclick="generate_bill()" class="btn btn-primary btn-icon-split">
            <span class="icon text-white">
                <i class="fas fa-search-dollar"></i>
            </span>
            <span class="text">Generate Bill</span>
        </button>
    </div>
    <div class="col-3">
        <button onclick="printJS({
            printable: 'bill', 
            type: 'html', 
            style: '.hotel-title{ text-align: center } table{clear: both; text-align: left} .booked_by{float: left} .booked_in{float: right; margin-right: 30px} .cashier-sign{float: left; margin-top: 30px;} .guest-sign{float:right; margin-top: 30px; margin-right: 30px;} .info{clear: both; text-align:center}',
            header: ''
            })" class="btn btn-success btn-icon-split">
            <span class="icon text-white">
                <i class="fas fa-print"></i>
            </span>
            <span class="text">Print Bill</span>
        </button>
    </div>
</div>

<div class="mt-5 p-3 px-5" id="bill" style="background-color: white; color:black">
    <div class="row"> 
        <div class="col-12">
            <div class="hotel-title text-center">
                <i class="fas fa-utensils fa-2x"></i>
                <p style="font-weight: 300; font-size:x-large">{{hotel_name}}</p>
                <p>Janaki-Nagar, Rupdandehi</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-4 mt-2">
            <div class="booked_by">
                <p class="name">Name: </p>
                <p>Invoice No:</p>
            </div>
        </div>
        <div class="col-4 mt-2">
            <div class="booked_in">
                <p class="check_in">Arrival Date:</p>
                <p class="check_out">Departure Date:</p>
            </div>
        </div>
    </div>

    <div class="row" style="min-height: 100px;">
        <div class="col-12">
            <table class="bill">
                <col width="50">
                <col width="430">
                <col width="200">
                <col width="300">
                <thead>
                    <th col="1">S.N</th>
                    <th col="6">Description</th>
                    <th>Rate</th>
                    <th>Amount (NPR)</th>
                </thead>
                <tbody class="tbody">
                    
                </tbody>
            </table>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-4">
            <div class="cashier-sign">
                <span>Sandeep Pokhrel</span>
            <p>..................................................</p>
            <p>Cashier's Signature</p>
            </div>
            
        </div>
        <div class="col-4">
            <div class="guest-sign">
                <span class="guest"></span>
            <p>..................................................</p>
            <p>Guest's Signature</p>
            </div>
            
        </div>
    </div>
    <div class="row justify-content-center mt-5 info">
        <div class="col-5">
            <p>PLEASE DEPOSIT YOUR ROOM KEY CARD</p>
        </div>
        <div class="col-5">
            <p>(Please collect receipt when paying by cash)</p>
        </div>
    </div>
</div>




<script>
    function generate_bill(){
        $('.tbody').remove()
        let book_id = $("#booked_by").val()
        let name = ''
        let arrival_date = ''
        let departure_date = ''
        let tbody = ''
        $.ajax({
            type: 'GET',
            url: '/admin/bill/'+book_id,
            success: (data) => {
                if(data.length > 0){
                    // personal info
                    name = data[0].person_info[0]
                    arrival_date = data[0].person_info[1]
                    departure_date = data[0].person_info[2]

                    for (let i = 1; i < data.length - 1; i++){
                        tbody += '<tbody class="tbody"><tr>'
                        tbody += '<td>'+ i +'</td>'
                        tbody += '<td>'+ data[i].room_cat + '(Adult: '+ data[i].adult +', Extra Bed: '+ data[i].extra_bed +') </td>'
                        tbody += '<td>'+ data[i].amount +', '+ data[i].extra_bed_rate  + '</td>'
                        tbody += '<td>'+ data[i].total_amount + '</td>'
                        tbody += '</tr>' 
                    }
                    tbody += '<tr><td></td><td>TAX</td><td>{{tax}} %</td><td></td></tr>'
                    tbody += '<tr><th></th><th></th>'
                    tbody += '<th> Total Amount </th>'
                    tbody += '<th>' + data[data.length - 1].final_amount + '</th>'
                    tbody += '</tr></tbody>'
                    $('.name').html('Name: '+name)
                    $('.check_in').html('Arrival Date: '+arrival_date)
                    $('.check_out').html('Departure Date: '+departure_date)
                    $('.bill').append(tbody)
                    $('.guest').html(name)

                }
            }
            

        })
    }
</script>